<div class="panel panel-default">
  <div class="panel-body">
    <!-- Photo principale de l'annonce -->
    <div class="row">
      <div class="col-md-12">
        <%= image_tag @photos[0].image.url(), class:"img-responsive" if @photos.length >0 %>
      </div>
    </div>
    <!-- Informations principales -->
    <br>
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3 text-center">
            <%= image_tag avatar_url(@club.user), class:"img-circle avatar-large" %>
            <br>
            <br>
            <%= @club.user.fullname %>
          </div>
          <div class="col-md-9">
            <h4><%= @club.club_name %></h4>
            <%= @club.address %>
            <div class="row text-center row-space-1">
              <div class="col-sm-3">
                <i class="fa fa-home fa-2x"></i>
              </div>
              <div class="col-sm-3">
                <i class="fa fa-users fa-2x"></i>
              </div>
              <div class="col-sm-3">
                <i class="fa fa-user fa-2x"></i>
              </div>
              <div class="col-sm-3">

                <i class="<%= 'fa fa-check fa-2x' if @club.ffbad_affiliated %>"></i>
                <i class="<%= 'fa fa-times fa-2x' if !@club.ffbad_affiliated %>"></i>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-sm-3">
                <%= @club.court_number %> terrains
              </div>
              <div class="col-sm-3">
                <%= @club.place_number %> places
              </div>
              <div class="col-sm-3">
                <div class="<%= 'text-line-through' if !@club.is_coach %> ">Entraîneur</div>
              </div>
              <div class="col-sm-3">
                <div class="<%= 'text-line-through' if !@club.ffbad_affiliated %> ">Affilié FFBaD</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!-- Formulaire de réservation-->
        </div>
      </div>
    </div>
      <!-- Description -->
    <div class="row">
      <div class="col-md-12">
        <h2>A propos de ce club</h2>
        <p> <%= @club.summary %></p>
        <hr>
      </div>
    </div>
    <!-- Détails -->
    <br>
    <div class="row">
      <div class="col-md-2">
        <h4>Jours d'ouvertures</h4>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6">
            <ul class="equipments">
              <li class="<%= 'text-line-through' if !@club.training_monday%>">Lundi</li>
              <li class="<%= 'text-line-through' if !@club.training_tuesday %>">Mardi</li>
              <li class="<%= 'text-line-through' if !@club.training_wednesday %>">Mercredi</li>
              <li class="<%= 'text-line-through' if !@club.training_thusday %>">Jeudi</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="equipments">

              <li class="<%= 'text-line-through' if !@club.training_friday %>">Vendredi</li>
              <li class="<%= 'text-line-through' if !@club.training_saturday %>">Samedi</li>
              <li class="<%= 'text-line-through' if !@club.training_sunday %>">Dimanche</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <hr>
        <h4>Ouverts aux joueurs classés :</h4>
        <br>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <ul class="equipments">
              <li class="<%= 'text-line-through' if !@club.player_ranking_n%>">N1/N2/N3</li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="equipments">
              <li class="<%= 'text-line-through' if !@club.player_ranking_r%>">R4/R5/R6</li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="equipments">
              <li class="<%= 'text-line-through' if !@club.player_ranking_d%>">D7/D8/D9</li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="equipments">
              <li class="<%= 'text-line-through' if !@club.player_ranking_pnc%>">P10/P11/P12/NC</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <br>
    <hr>
    <!-- Carousel -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
                <% if @photos %>
                    <% @photos.each do |photo| %>
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="<%= photo.id %>" class="active"></li>
                      </ol>
                    <% end %>
                <% end %>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <% if @photos %>
                  <% @photos.each do |photo| %>
                  <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                    <%= image_tag photo.image.url() %>
                  </div>
                  <% end %>
                <% end %>

              </div>
              <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Précédent</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Suivant</span>
                </a>
            </div>
        </div>
    </div>

<br>
<hr>
    <!-- Google maps -->
      <div class="row">
          <div class="col-md-12">
              <div id="map"></div>

              <style>
                 #map {
                  height: 400px;
                  width: 100%;
                 }
              </style>

              <script>
                function initMap() {
                  var uluru = {lat:<%= @club.latitude %>, lng: <%= @club.longitude %>};
                  var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: uluru
                  });
                  var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                  });
                }
              </script>
              <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5D9Rwf6YGL6hzqhYfOj2JT0Ov-0hV6w0&callback=initMap">
              </script>
          </div>
      </div>

      <!-- Logements à proximité -->
        <h3>A proximité...</h3>
        <div class="row">
            <% for club in @club.nearbys(15).limit(3) %>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading preview">
                        <%= image_tag club.photos[0].image.url(:medium) if club.photos.length > 0 %>
                    </div>
                    <div class="panel-body">
                        <%= link_to club.club_name, club %><br>
                        (à <%= (club.distance*1.6).round(2) %> km)
                    </div>
                </div>
            </div>
            <% end %>
        </div>

  </div>
</div>
