<div class="row">
  <div class="col-md-8">
    <div class="text-center">
      <h1>PassBad</h1>
      <h3>Entraînez-vous partout, tout le temps !</h3>
    </div>
  </div>
</div>

<br>

<%= form_tag search_path, method: :get do %>
  <div class="row">
    <div class="col-md-6">
      <%= text_field_tag :search, params[:search], placeholder: "Où? Ville, Adresse, Région, etc...", class:"form-control"%>
    </div>
    <div class="col-md-4">
      <%= text_field_tag :play_date, params[:play_date], placeholder: "Date", class:"form-control" %>
    </div>
    <div class="col-md-2">
      <%= submit_tag "Rechercher", class: "btn btn-primary"%>
    </div>
  </div>
<% end %>

<br>
<hr>
<br>

<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <h3>Comment ça marche ?</h3>  
    </div>
  </div>
</div>

<br>
<hr>
<br>

<div class="row">
  <div class="col-md-4">
    <h4>Clubs</h4>
  </div>
</div>
<div class="row">
    <% @clubs.each do |club| %>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading preview">
                <%= image_tag club.photos[0].image.url(:medium) if club.photos.length > 0 %>
            </div>
            <div class="panel-body">
              <p class="home-link"><b><%= link_to club.club_name, club_path(club) %></b></p>
              <p><%= link_to club.court_number, club_path(club) %> terrains </p>

            </div>
        </div>
    </div>
    <% end %>
</div>

<script>

    $(function() {
        $('#play_date').datepicker({
                    dateFormat: 'dd-mm-yy',
                    monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août',
                    'Septembre','Octobre','Novembre','Décembre'],
                    dayNamesMin: ['D','L','M','M','J','V','S'],
                    minDate: 0,
                    maxDate: '3m',
        });
  })
</script>
