<%= form_for([@club, @club.reservations.new]) do |f| %>

  <div class="row">
    <div class="col-md-12 price_tag">
      <span><%= @club.place_number%></span>
      <span class="pull-right">Places disponibles</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <label>Réservez :</label>
      <%= f.text_field :play_date, readonly: 'true', placeholder:'jj/mm/aaaa', class:'form-control'  %>
    </div>
  </div>

  <div id="preview" style="display: none">
    <table class="reservation-table">
      <tbody>
        <tr>
          <td>Date</td>
          <td><span id="reservation_days"></span></td>
        </tr>
        <tr>
          <td>Quantité</td>
          <td><span id="reservation_sum"></span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <%= f.hidden_field :club_id, value: @club.id %>

<br>
  <%= f.submit "Demande de réservation", class:"btn btn-primary wide"%>

<% end %>

<script>

  function unavailable(date) {
        dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
        return [$.inArray(dmy, unavailableDates) == -1];
    }
  $(function(){
    unavailableDates = [];
    $.ajax({
      url: '/preload',
            data: {'club_id': <%= @club.id %>},
            dataType: 'json',
      success: function(data){
        $.each(data, function(arrID, arrValue){
          for(var d = new Date(arrValue.play_date); d <= new Date(arrValue.play_date);
                    d.setDate(d.getDate() +1)) {
            unavailableDates.push($.datepicker.formatDate('d-m-yy', d));;
          }
        })

        $('#reservation_play_date').datepicker({
          dateFormat: 'dd-mm-yy',
          monthNames: ['Janvier', 'Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
          dayNamesMin: ['D','L','M','M','J','V','S'],
          minDate: 0,
          maxDate: '3m',
          beforeShowDay: function(date) {
            var day = date.getDay();
            var day2 = date.getDay();
            var day3 = date.getDay();
            var day4 = date.getDay();
            var day5 = date.getDay();
            var day6 = date.getDay();
            var day0 = date.getDay();
            return [( <% if @club.training_monday %>( day = 1 )<% else %>( day != 1 )<% end %>
            && <% if @club.training_tuesday %>(day2 = 2) <% else %> (day2 != 2) <% end %>
            && <% if @club.training_wednesday %> (day3 = 3) <% else %> (day3 != 3) <% end %>
            && <% if @club.training_thusday %> (day4 = 4) <% else %> (day4 != 4) <% end %>
            && <% if @club.training_friday %> (day5 = 5) <% else %> (day5 != 5) <% end %>
            && <% if @club.training_saturday %> (day6 = 6) <% else %> (day6 != 6) <% end %>
            && <% if @club.training_sunday %> (day0 = 7) <% else %> (day0 != 7) <% end %>
)];
          }
        });

      }
    });


  })
</script>
